
transformers==4.35.2 
torch==2.2.1 
fastapi==0.115.0
uvicorn==0.32.0
#full text
requests==2.31.0
beautifulsoup4==4.12.3
sentence-transformers==2.7.0
numpy==1.26.4
selenium==4.17.2
markdown==3.6
openai==1.79.0
pinecone==6.0.2
html2text==2025.4.15
python-dotenv==1.1.0
apscheduler==3.11.0
webdriver-manager==4.0.2
